<!DOCTYPE html>
<html>
<head>
    <title>Parkinson's Disease Prediction</title>
</head>
<body>
    <h1>Parkinson's Disease Prediction Form</h1>
    <form action="/predict" method="post">
        <label for="MDVP_Fo">MDVP:Fo(Hz):</label>
        <input type="text" id="MDVP_Fo" name="MDVP_Fo" required><br><br>
        
        <label for="MDVP_Fhi">MDVP:Fhi(Hz):</label>
        <input type="text" id="MDVP_Fhi" name="MDVP_Fhi" required><br><br>
        
        <label for="MDVP_Flo">MDVP:Flo(Hz):</label>
        <input type="text" id="MDVP_Flo" name="MDVP_Flo" required><br><br>
        
        <label for="MDVP_Jitter_percent">MDVP:Jitter(%):</label>
        <input type="text" id="MDVP_Jitter_percent" name="MDVP_Jitter_percent" required><br><br>
        
        <label for="MDVP_Jitter_Abs">MDVP:Jitter(Abs):</label>
        <input type="text" id="MDVP_Jitter_Abs" name="MDVP_Jitter_Abs" required><br><br>
        
        <label for="MDVP_RAP">MDVP:RAP:</label>
        <input type="text" id="MDVP_RAP" name="MDVP_RAP" required><br><br>
        
        <label for="MDVP_PPQ">MDVP:PPQ:</label>
        <input type="text" id="MDVP_PPQ" name="MDVP_PPQ" required><br><br>
        
        <label for="Jitter_DDP">Jitter:DDP:</label>
        <input type="text" id="Jitter_DDP" name="Jitter_DDP" required><br><br>
        
        <label for="MDVP_Shimmer">MDVP:Shimmer:</label>
        <input type="text" id="MDVP_Shimmer" name="MDVP_Shimmer" required><br><br>
        
        <label for="MDVP_Shimmer_dB">MDVP:Shimmer(dB):</label>
        <input type="text" id="MDVP_Shimmer_dB" name="MDVP_Shimmer_dB" required><br><br>
        
        <label for="Shimmer_APQ3">Shimmer:APQ3:</label>
        <input type="text" id="Shimmer_APQ3" name="Shimmer_APQ3" required><br><br>
        
        <label for="Shimmer_APQ5">Shimmer:APQ5:</label>
        <input type="text" id="Shimmer_APQ5" name="Shimmer_APQ5" required><br><br>
        
        <label for="MDVP_APQ">MDVP:APQ:</label>
        <input type="text" id="MDVP_APQ" name="MDVP_APQ" required><br><br>
        
        <label for="Shimmer_DDA">Shimmer:DDA:</label>
        <input type="text" id="Shimmer_DDA" name="Shimmer_DDA" required><br><br>
        
        <label for="NHR">NHR:</label>
        <input type="text" id="NHR" name="NHR" required><br><br>
        
        <label for="HNR">HNR:</label>
        <input type="text" id="HNR" name="HNR" required><br><br>
        
        <label for="RPDE">RPDE:</label>
        <input type="text" id="RPDE" name="RPDE" required><br><br>
        
        <label for="DFA">DFA:</label>
        <input type="text" id="DFA" name="DFA" required><br><br>
        
        <label for="spread1">spread1:</label>
        <input type="text" id="spread1" name="spread1" required><br><br>
        
        <label for="spread2">spread2:</label>
        <input type="text" id="spread2" name="spread2" required><br><br>
        
        <label for="D2">D2:</label>
        <input type="text" id="D2" name="D2" required><br><br>
        
        <label for="PPE">PPE:</label>
        <input type="text" id="PPE" name="PPE" required><br><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
